body{
    margin:0px;
    padding:0px;
}

#container{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#conteudo_container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
}

#barra_topo{
    width: 100%;
    height: 7.5%;
    margin-top: 4%;
    background-color: transparent;
    position: absolute;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}

#logo{
    width: 18%;
    height: 9%;
    background-color: white;
    border: 1px;
    border-color: black;
    margin-top: 3%;
    margin-left: 10%;
    position: absolute;
}

#conteudo_logo{
    width: 100%;
    height: 100%;
    margin-left: 10%;
    position: absolute;
}

#bloco_form_login{
    width: 30%;
    height: 30%;
    margin-top: 13%;
    margin-left: 35%;
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: medium;
}

#conteudo_bloco_form_login{
    width: 100%;
    height: 100%;
    position: absolute;
    font:bold 14px Tahoma, Geneva, sans-serif;
    font-style:normal;
    margin-top: 5%;
    margin-left: 5%;
}

#titulo_pagina{
    font:bold 14px Tahoma, Geneva, sans-serif;
    text-align: center;
    width: 60.5%;
    height: 4%;
    margin-top: 11%;
    background-color: transparent;
    position: absolute;
    margin-left: 25%;
}

.i2Style{
font:bold 14px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background:#1568db;
border:0px solid #ffffff;
text-shadow:0px -1px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:2px 2px 2px 2px;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
width:84px;
padding:8px 11px;
cursor:pointer;
margin:0 auto;
margin-left: 25%;
}
.i2Style:active{
cursor:pointer;
position:relative;
top:2px;
}

.inputtext{
    border-style:inset;
    border-width:2;
    border-color:black;
}